"<!DOCTYPE html>
<html>
    <head>
        <title>Wlaczenie pomiarow</title>
        <meta charset="="utf-8">
        Wlaczenie pomiarow
        <meta name="viewport" content="width=device width, initial-scale=1.0">
    </head>
<body>
    <form id="Kamery_form" action="{{url_for('Kamery_strona')}}" method = "POST">

        <button type ="button" onclick="alert('hello world')">Wlaczenie programu z kalibracja obrazu</button>
        <button type ="button" onclick="alert(' world')">Wlaczenie obrazu bez kalibracji</button>
        <input type= "submit" name="opcja" value = "opcja1">



    </form>
</body>
</html>